
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    margin-top: 100px;
    width: 20%;
    height: 300px;
    border: 2px solid blue;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
}
#btn1,#btn2,#btn3{
    width: 200px;
    padding: 5px;
}
.para{
    border: 1px solid red;
    padding: 20px;
    width: 200px;
    text-align: center;
}
